<?xml version="1.0"?>
<launch>
  <!-- Command-line arguments -->
  <arg name="ns" default="ifm3d"/>
  <arg name="nn" default="camera"/>
  <arg name="infile" default="-"/>

  <group ns="$(arg ns)/$(arg nn)">
    <node pkg="ifm3d"
          type="ifm3d_config_node"
          name="config_node"
          output="screen">

      <param name="infile" value="$(arg infile)"/>
      <remap from="/Config" to="Config"/>
    </node>
  </group>

</launch>
